<div class="news">
  <h2>News</h2>
  {% if site.news  %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        <tr>
          <th scope="row">From</th>
          <th scope="row">To</th>
          <td> </td>
        </tr>

      {% assign news = site.news | reverse %}
      {% for item in news limit: 10 %}
        <tr>
          {% if item.endDatePres %}
          <th scope="row">{{ item.startDate | date: "%b %Y" }}</th>
          <th scope="row">{{ item.date | date: "%b %Y" }}</th>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
            {% else %}
            <th scope="row">{{ item.date | date: "%b %Y" }}</th>
            <th scope="row"> </th>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="news-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
            
          {% endif %}
          
        </tr>
      {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
